@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Nanum Gothic", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    align-items: center;
}

.logo{
    width: 150px;
}

.page{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.page:hover{
    color: #ff772e;
}



.sign-up, .sign-in, .view-menu{
    background-color: #ff5a00;
    color: white;
    border: none;
    padding: 0.6em 1.5em;
    font-weight: bold;
    border-radius: 0.5em;
    cursor:pointer;
}


.middle-bar{
    display: flex;
    gap: 4em;
}

.content{
    padding: 5em;
    display: flex;
    background-color: #fef5f5;
    height: 30em;
}

.left-content, .right-content{
    flex: 1;
}

.left-content{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.view-menu{
    align-self: start;
    padding: 1em 2em;
    margin-top: 2em;
}

.content  h1{
    font-size: 70px;
}

.orange{
    color:#ff772e;
}

.content-image{
    position: relative;
    top: 9.5em;
    left: 5em;
    z-index: 2;
}

.pizza-image{
    position: relative;
    width: 35em;
    top: -29em;
    right: 10em;
    z-index: 1 !important;
}

.service{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4em;
    gap: 0.5em;
}

.service h1{
    font-size: 70px;
}

.service p{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 18em;
    border: solid #fba570;
    padding: 1em;
    border-radius: 1.5em;
}

.card img{
    width: 5em;
}

.service-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 2.5em;
}

.food{
    background-color: #fba570;
    padding: 1em;
    width: 13em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.food > img {
    width: 13em;
    border-radius: 0.5em;
}

.food-menu{
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    width: 100vw;
    gap: 4em;
    grid-auto-rows: 23em;
}

.order{
    padding: 0.5em;
    background-color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.menu-title{
    position: relative;
    right: 1.2em;
}

.about{
    display: flex;
    gap: 1em;
}

.about-image{
    width: 24em;
    height: 24em;
}

.about-paragraph{
    background-color: white;
    padding: 3em;
    height: 18em;
    text-align: center;
}